@model WebPACS.Models.ImageViewModel

@{
    ViewBag.Title = "Details";
}

<h4>Image View</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<table class='toolbarGroup'>
    <tr>
        <td><input id='btnSelect' type="button" value='Select'></td>
        <td><input id='btnPan' type="button" value='Pan'></td>
        <td><input id='btnRotate' type="button" value='Rotate'></td>
        <td><input id='btnWL' type="button" value='W/L'></td>
        <td><input id='btnReset' type="button" value='True Size' style="width:75px"></td>
        <td><input id='btnBestFit' type="button" value='Best Fit'></td>
        <td><input id='btnAddRect' type="button" value='Rect'></td>
        <td><input id='btnAddLine' type="button" value='Line'></td>
        <td><input id='btnDelete' type="button" value='Delete'></td>
        <td><input id='btnSave' type="button" value='Save'></td>
    </tr>
</table>

<div>
    <canvas id="idCanvas" width="1100" height="600" tabindex="1"></canvas>
</div>

<div id="slider">
    <div id="custom-handle" class="ui-slider-handle"></div>
</div>


@section Scripts {
    @Scripts.Render("~/scripts/wlWorker.js")
    @Scripts.Render("~/scripts/imgDataWorker.js")
    @Scripts.Render("~/scripts/dicomViewer.js")
    @Scripts.Render("~/scripts/app.js")
}

<script>
    var dcmFile = {};
    dcmFile.dicomTags = JSON.parse('@Html.Raw(@Model.DicomTags)');
    dcmFile.imgWidth =  @Model.ImageWidth;
    dcmFile.imgHeight =  @Model.ImageHeight;
    dcmFile.windowWidth = @Model.WindowWidth;
    dcmFile.windowCenter = @Model.WindowCenter;
    dcmFile.id = @Model.Id;
    dcmFile.serializeJSON = '@Html.Raw(@Model.SerializeJSON)';

</script>
