@model WebPACS.Models.ImageViewModel

@{
    ViewBag.Title = "Details";
}

<h4>Image View</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<table class='toolbarGroup'>
    <tr>
        <td><input id='btnSelect' type="button" value='Select'></td>
        <td><input id='btnPan' type="button" value='Pan'></td>
        <td><input id='btnRotate' type="button" value='Rotate'></td>
        <td><input id='btnReset' type="button" value='True Size' style="width:75px"></td>
        <td><input id='btnBestFit' type="button" value='Best Fit'></td>
        <td><input id='btnAddRect' type="button" value='Rect'></td>
        <td><input id='btnAddLine' type="button" value='Line'></td>
        <td><input id='btnGetByte' type="button" value='Byte'></td>
    </tr>
</table>

<div>
    <canvas id="c1" width="1100" height="600"></canvas>
</div>

<table class='toolbarGroup'>
    <tr>
        <td><input id='btnWA' type="button" value='W+'></td>
        <td><input id='btnWM' type="button" value='W-'></td>
        <td><input id='btnLA' type="button" value='L+'></td>
        <td><input id='btnLM' type="button" value='L-'></td>
        <td><input id='btnDelete' type="button" value='Delete'></td>
        <td><input id='btnSave' type="button" value='Save'></td>
        <td><input id='btnLoad' type="button" value='Load'></td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/scripts/dicomViewer.js")
    @Scripts.Render("~/scripts/app.js")
}

<script>
    var imgInfo = {};
    imgInfo.ImageUrl = '@Model.ImageUrl';
    imgInfo.imageWidth = @Model.ImageWidth;
    imgInfo.imageHeight = @Model.ImageHeight;
    imgInfo.windowCenter = @Model.WindowCenter;
    imgInfo.windowWidth = @Model.WindowWidth;
    imgInfo.dicomTags = JSON.parse('@Html.Raw(@Model.DicomTags)');

</script>
