@model JPACS.Model.Image

@{
    ViewBag.Title = "Details";
}

<h4>Image View</h4>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SOPInstanceUid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOPInstanceUid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageDateString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageDateString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageTimeString)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageTimeString)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageRows)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageRows)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageColumns)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageColumns)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FilePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FilePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

<table id="imageToolBar">
    <tr>
        <td>
            <input id="btnRotate" type="button" value="Rotate" class="toolBarBtn"/>
        </td>
        <td>
            <input id="btnPan" type="button" value="Pan" class="toolBarBtn" />
        </td>
        <td>
            <input id="btnReset" type="button" value="Reset" class="toolBarBtn" />
        </td>
    </tr>
</table>

<div>
    <canvas id="canvasImage" width="1100" height="600"></canvas>
</div>

<script>
    var imageUrl = "@(ViewBag.ImageUrl)";
</script>

@section Scripts {
    @Scripts.Render("~/scripts/imageView.js")
}