@model IEnumerable<JPACS.Model.Image>

@{
    ViewBag.Title = "Index";
}

<h4 style="display:inline-block;">Worklist</h4>
<p style="display:inline; margin-top:10px; float:right; margin-right:50px;">
    @Html.ActionLink("Refresh", "Index")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Series.Study.Patient.PatientId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series.Study.Patient.PatientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series.Study.Patient.Gender)
        </th>
        <th>
            BirthDate
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series.Modality)
        </th>
        <th>
            StudyDate
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series.BodyPart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Series.ViewPosition)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Study.Patient.PatientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Study.Patient.PatientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Study.Patient.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Study.Patient.BirthDateString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Modality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.Study.StudyDateString)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.BodyPart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Series.ViewPosition)
        </td>
        <td>
            @Html.ActionLink("View", "Details", new { id=item.Id })
             @*| @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
